[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv="*"
pylama="*"

[packages]
requests="*"
flask="*"
flask-sqlalchemy="*"
flask-redis="*"
psycopg2="*"
psycopg2-binary="*"
arrow="*"


[requires]
python_version = "3.7"
